{% extends 'base.html' %}

{% block body %}

<head> 
    <title>About Us</title>
</head>
<h1> About Us Page </h1>

<p> Aron likes cats and sleeping Aron likes cats and sleeping Aron likes cats and sleeping </p>

<div class="grid-container">
    <img src="https://substackcdn.com/image/fetch/f_auto,q_auto:good,fl_progressive:steep/https%3A%2F%2Fsubstack-post-media.s3.amazonaws.com%2Fpublic%2Fimages%2F5c4299cf-d3ed-4fe6-8dfe-7e61c27094ec_800x450.gif" alt="FAANG GIF">
    <img src="https://media.tenor.com/iVHk9yUoOtcAAAAM/nasa-aircraft.gif" alt="NASA GIF">
  </div>

{% endblock %}